html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

body {
  margin: 0;
  position: relative;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    height: 1200px;
    width: 100%;
}

#topnav {
    display: flex;
    flex-direction: column;
    height: 9%;
    background-color: #0084ff;
    box-shadow: 0px 10px 13px -10px #000000;
}

#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    height: 40%;
    margin: 8px auto 0px auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 7px #3b3a3a;
}

#search {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

#searchText {
    height: 37px;
    width: 300px;
    border: none;
    margin: auto;
    outline: none;
}

#mic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}


.tabnav {
    display: flex;
    flex-direction: row;
    height: 50%;
    
}

.tabs {
    display: flex;
    flex-direction: column;
    height: 58px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.tabtext {
    height: 95%;
    justify-content: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.stripe {
    z-index: 1;
    height: 3px;
    background-color: #0084ff;
    
}
